/* =================================
   Reader Page
   Yalla Nanhad
================================= */


body{

background:#f5f6f7;

}


/* Header */

.reader-header{

position:fixed;

top:0;

right:0;

left:0;

z-index:1000;

background:#fff;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}


.reader-top{

height:80px;

display:flex;

align-items:center;

justify-content:space-between;

gap:20px;

}


.reader-top h3{

margin:0;

font-size:24px;

font-weight:800;

}



.back-btn{

color:#0F6B4B;

font-weight:bold;

display:flex;

align-items:center;

gap:8px;

}



.reader-actions{

display:flex;

gap:10px;

}


.reader-actions button{

border:none;

background:#f1f3f5;

width:45px;

height:45px;

border-radius:50%;

font-weight:bold;

cursor:pointer;

transition:.3s;

}


.reader-actions button:hover{

background:#0F6B4B;

color:#fff;

}



/* Reader Area */


.reader-container{

padding-top:120px;

padding-bottom:120px;

}



.book-reader{

max-width:850px;

margin:auto;

background:#fff;

padding:60px;

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.08);

}



.book-reader h1{

text-align:center;

font-size:40px;

margin-bottom:10px;

}


.book-reader>p{

text-align:center;

color:#777;

margin-bottom:40px;

}



.reader-text{

font-size:22px;

line-height:2.2;

color:#333;

transition:.3s;

}



.reader-text p{

margin-bottom:35px;

}


.reader-text h2{

font-size:32px;

margin:40px 0 20px;

}



/* Bottom Bar */


.reader-bottom{

position:fixed;

bottom:0;

right:0;

left:0;

height:70px;

background:#fff;

display:flex;

align-items:center;

justify-content:center;

gap:40px;

box-shadow:0 -5px 20px rgba(0,0,0,.08);

z-index:999;

}



.reader-bottom button{

border:none;

background:none;

font-weight:700;

color:#0F6B4B;

}



.reader-bottom span{

font-weight:bold;

color:#555;

}





/* Reading Dark Mode */


.reader-dark{

background:#121212;

color:#eee;

}


.reader-dark .reader-header,

.reader-dark .reader-bottom,

.reader-dark .book-reader{

background:#1e1e1e;

}



.reader-dark .reader-text{

color:#eee;

}



.reader-dark .reader-top h3{

color:#fff;

}



.reader-dark .reader-bottom span{

color:#ddd;

}



.reader-dark .reader-actions button{

background:#333;

color:#fff;

}





/* Responsive */


@media(max-width:768px){


.reader-top h3{

font-size:18px;

}



.reader-container{

padding-top:110px;

}



.book-reader{

padding:30px 20px;

border-radius:15px;

}



.book-reader h1{

font-size:30px;

}



.reader-text{

font-size:18px;

line-height:2;

}



.reader-bottom{

gap:15px;

font-size:14px;

}



.reader-bottom button{

font-size:13px;

}


}
